.arrow{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #000000;
    border-right: 5px solid #000000;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}



.arrow-2{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow-2 span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #000000;
    border-right: 5px solid #000000;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow-2 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-2 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.arrow-box {
    position: relative;
}