::root {

}

body {
    font-family: Quicksand,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 300;
    background-color: #fdfdfd;
}


.flex {
    display: flex;
}

.btn {
    border: 2px solid #000000;
    padding: 10px 20px;
}

.hover-btn {
    /* text-transform: uppercase; */
    font-weight: 500;
    font-style: none;
    color: #000000;
    transition: all ease-in-out .2s;
}

.hover-btn:hover {
    color: #ffffff;
    background-color: #000000;
}

.primary-text {
    font-size: 45px;
}

.secondary-text {
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.third-text {
    font-size: 22px;
    font-weight: 300;
}

.highlight-text {
    font-weight: 600;
}

#intro {
    width: 100%;
    height: 100vh;
    padding: 200px 20px 270px 20px;
    flex-direction: column;
    justify-content: space-between;
}

#intro .box {
    text-align: center;
    margin: 0 auto;
}

#intro .box p  {
    margin-bottom: 15px;
}

#intro .btn-box {
    margin: 0 auto;
}

#intro .hover-btn {
    text-transform: uppercase;
}


/* sobre min */

#about {
    height: 850px;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-inline: 270px;
    text-align: center;
}

.profile-pic {
    width: 250px;
    border: 2px solid #000000;
    border-radius: 100px;
    margin-bottom: 50px;
}

#about .third-text {
    margin-bottom: 50px;
}

.technology-box {
    justify-content: space-around;
    flex-wrap: wrap;
}

.technology-box span {
    border: 1px solid #000000;
    padding: 10px 15px;
    margin: 7px 7px;
    border-radius: 20px;
}

/* projects */

#projects {
    height: 800px;
}

#projects .box {
    width: 100%;
    padding: 50px 0 0 0;
    text-align: center;
}